In [4]:
import pandas as pd

In [5]:
csv_path = "Resources/city_csv.csv"
cities_df = pd.read_csv(csv_path)
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mossamedes,-15.20,12.15,68.85,66,44,10.51,AO,1605913570
1,1,Tuktoyaktuk,69.45,-133.04,14.00,92,90,6.93,CA,1605913671
2,2,Jamestown,42.10,-79.24,55.00,46,1,9.17,US,1605913497
3,3,Vestmannaeyjar,63.44,-20.27,41.86,77,100,32.79,IS,1605913708
4,4,Bethel,41.37,-73.41,55.40,43,1,6.80,US,1605913698

In [6]:
cities_df.drop(columns=["Unnamed: 0"])

KeyError: "['Unnamed: 0'] not found in axis"